body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start; /* Start items from the top */
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-top: 20px; /* Add top margin */
    margin-bottom: 20px;
    width: 100%; /* Full width */
    text-align: center; /* Center the text */
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px; /* Limit the width of the list */
}

li {
    background: linear-gradient(145deg, #ffffff, #f0f5ff); /* Subtle gradient for each list item */
    border: none;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7); /* Soft inner and outer shadows */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

li:hover {
    transform: translateY(-5px); /* Slightly raise the list item on hover */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.8); /* Enhanced shadow on hover */
}

@media (max-width: 768px) {
    body, ul {
        padding: 10px;
        height: auto; /* Better mobile compatibility */
    }
    h1 {
        font-size: 2em; /* Smaller font size on mobile devices */
    }
}
